html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}


body {
  background-image: $wood;
  /* background-attachment: fixed; */
  background-color: #111;
  color: #FFF;

  /* font-size: 18px; */
  /* line-height: 1.231; */
  font-family: "myriad-pro-condensed",sans-serif;
}

body.ready {
  background-image: url(/images/explosion-bg.jpg);
  /* background-image: url(/images/fire-bg.jpg); */
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $dark_blue;
}

.no-js {
  body {
    background-image: url(/images/explosion-bg.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: top center;
    background-color: $dark_blue;
  }
}
