extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  .main
    h1.lead-title DIGITAL HEROES
    h2.support-title A SUPERHERO THEMED NIGHT OUT <br> 6TH JUNE 2015. NQ, MANCHESTER.

    hr.section-spacer
    //- p Every year, since i can remember, fancy dress and drink fueled antics have been a part of my birthday celebrations. This year i turn 25, and I'd love to get all my friends and digital people out for a bit of a celebration.

    //- p I've been thinking of ways to get the word out, when i thought, 'hey, why not make a website and create a little bit of hype!'. <em>Any excuse to exercise some HTML5 animation techniques Michael Bay would be proud of if he was a web developer, ha.</em>

    // - p Following on from last year's super hero antics, <strong>Digital Heroes</strong> is back!

    //- h2 A 28TH BIRTHDAY CELEBRATION...

    p By now you probably know the drill... It's the 4th Digital Heroes. 

    p As per tradition on my birthday; a fancy dress night out with all my closest friends &amp; Web folk. (I can't stress enough that fancy dress is optional, but a lot of us definitely go all out, so feel free to get involved! - <em>See previous years below for ideas</em>).
    
    h2 18:00, SAT 6TH @ HOLD FAST BAR, NQ
    p We've got the awesome cinema room at <strong>Hold Fast Bar</strong>, NQ (<em>50 Newton Street, Manchester M1 2EA</em>) booked all evening! It's got its own A/V system, and a huge projector. So the plan is to watch the Champions League Final, play Mario Kart / Smash Bros / Splatoon for the Wii U on the projector, and listen to beltin' tunes.
    
    //- p We're thinking <strong>8.30pm (ish)</strong> at the <strong>Crown &amp; Anchor</strong> on Hilton Street (41 Hilton St, Manchester, M1 2EE) to play some pool, then off to bigger places. It'd be great if you could come along! We'll also be hitting up <strong>Common Bar</strong> after work (6ish) for food.

    h2 REALTIME DIARY OF THE EVENT
    p Leave a tweet with the hashtag <strong>#digitalheroes2015</strong> and your message (including images) will be pulled in below in realtime. Let's get a diary of the build up, and of the night itself! :-)
    p Hopefully see you there! <br> Scotty (<a href="http://twitter.com/KingScooty">@KingScooty</a>)

    hr
    h2.island-title LIVE TWITTER FEED &ndash; #digitalheroes2015
    hr

    //- .socket-connection Connection:&nbsp;
      //- span.socket-connection__status.socket-connection__status--down Down
    .tweets-wrapper
      div#app
      //- div.handlebars

  .preload
    img(src="/images/fire-bg.jpg", alt="")
