doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="/bower_components/modernizr/modernizr.js"></script>
  body.ready
    div.container
      header.masthead
        div.logo.js
          a(href="/") Digital Heroes - 2014

    block content
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/handlebars/handlebars.min.js"></script>
    <script src="/bower_components/jquery-timeago/jquery.timeago.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="//use.typekit.net/zsn1cix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
