.lightsaber {
  // opacity: 0;
  width: 506px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 506px 350px;

  transform-origin: bottom left;
  // transition: all .7s $easeInOutFast;
  transition: all .5s cubic-bezier(1.000, 0.000, 0.435, 1.100);
  transition-delay: inherit;

  // transform: scaleX(0) rotate(-60deg);
  transform: rotate(-60deg);
  backface-visibility: hidden;
}

.lightsaber--blue {
  background: url(/svg/lightsaber_blue.min.svg);
}
.lightsaber--red {
  background: url(/svg/lightsaber_red.min.svg);
}
.lightsaber--green {
  background: url(/svg/lightsaber_green.svg);
}

// .lightsaber--stand {
//   transform: scaleX(0) rotate(-60deg);
//   opacity: 0;
// }

.lightsaber--flipped {
  transform-origin: bottom left;
  // transform: scaleX(-1) rotate(0deg);
  transform: scaleX(0) rotate(-60deg);
  right: -100%;
  left: auto;

  // &.lightsaber--stand {
  //   transform: scaleX(0) rotate(-60deg);
  // }
}

.logo__props--engaged {
  opacity: 1;

  .lightsaber {
    transform: rotate(0deg);
    // opacity: 1;
  }
  .lightsaber--flipped {
    transform: scaleX(-1) rotate(0deg);
  }
}
