.logo__props {
  position: absolute;
  width: 506px;
  height: 350px;
  left: 50%;
  top: 100px;
  margin-left: -253px;
  z-index:15;

  // Default state is invisible.
  opacity: 0;

  transition: opacity .5s cubic-bezier(1.000, 0.000, 0.435, 1.100);
  transition-delay: 1s;

  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.preload .logo__props {
  & * {
    transition: none !important;
  }
}
