.stream-nav {
  list-style: none;
}

.stream-nav__item {
  float: left;
  margin-left: 16px;
  &:first-child {
    margin-left: 0;
  }

  a {
    display: block;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
  }
}

.stream-nav__item {
  .active {
    background-color: white;
    color: #00223E;
  }
}
