$base-font-size:    16px!default;
$base-line-height:  24px!default;
$line-height-ratio: $base-line-height / $base-font-size;

html {
  font: (16em/16)/#{$line-height-ratio} "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set vertical rhythm on all elements */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr, .inline-SMP{
  margin-top: 0;
  margin-bottom: #{$base-line-height}px;
  margin-bottom: #{$line-height-ratio}rem;
}
